<h5>お問い合わせ内容</h5>

<P>-----------------------------------------</P>

<p>名前：<%= @inquiry.name %></p>

<p>メールアドレス：<%= @inquiry.email %></p>

<p>お問い合わせ内容：<%= @inquiry.message %></P>

<p>-----------------------------------------</p>