<div class="container">
<p class="row justify-content-center" style="padding-top: 20px;"><i class="fas fa-heart" style="color: red;"></i>いいねした投稿</p>
<table class="table table-hover">
 <tbody>
<tr>
　<% @favorite_posts.each do |f_post| %>
  <td>タイトル：</td>
  <th class="row justify-content-center"><%= link_to f_post.title, post_path(f_post.id) %></th>
 </tr>
  <% end %>
 </tbody>
</table>
</div>





