<div class='about'>

     <!--<section class="col-lg-6-about text-center">-->
        <!--<h1 class="about-title">About</h1>-->
        <p class="about-text">
          World Tacticsは戦術理解度向上を目指しているサイトです。<br>
          サッカーはとても奥が深いスポーツで90分の内ボールに触れる時間が一人約２分と言われます。<br>
          なので、いかにボールに触れてない時間＝『戦術』が重要です。<br>
          ピッチレベルで何が起こっているのかを分析し、言語化、<br>
          現役でサッカーやっている人なら最先端の戦術を取り入れ、そうでない人も<br>
          よりサッカー観戦の奥深いところを理解し楽しんでいただけるようなサイトです。<br>
          ぜひご利用ください。
        </p>
      <!--</section>-->

</div>
