<div class="about">
  <div id="box">
  <div id="skippr">
    <div class="skippr1"></div>
    <div class="skippr2"></div>
    <div class="skippr3"></div>
    <div class="skippr4"></div>
  </div>
</div>
    <h1 class="about-title">World Tacticsは戦術理解度向上を目指しているサイトです。</h1><br>
  <h2 class="about-text">
    サッカーはとても奥が深いスポーツで90分の内ボールに触れる時間が一人約２分と言われます。<br>
    なので、いかにボールに触れてない時間＝『戦術』が重要です。<br>
    ピッチレベルで何が起こっているのかを分析し、言語化、<br>
    現役でサッカーやっている人なら最先端の戦術学びチームに取り入れたり、<br>
    そうでない人もよりサッカー観戦の奥深いところを理解し楽しんでいただけるようなサイトです。<br>
    ぜひご利用ください。
  </h2>
    <div class="new">
      <p>会員登録がお済みでない方はこちらから
      <%= link_to "新規登録", new_user_registration_path,class: "btn btn-lg btn-primary fw-bold border-white" %>
      </p>
      <p class="foot">@World Tactics</p>
    </div>
</div>
