<div class='container-px-5 px-sm-0'>
  <div class='row'>
    <div class='col-sm-4 col-md-2'>
      <%= render 'users/info', user: current_user %>
    </div>
    <div class='col-sm-4 col-md-8'>
     <%= render 'index', posts: @posts %>
    </div>
      <%= render 'posts/lanks', posts: @posts %>
  </div>
</div>
