/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 @import 'tagsinput';

@media screen and(max-width:425px){
  .top {
  background-size: 100%;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  margin: 0 auto;
  }
.world{
		font-size: 80px;
}
}
.header{
padding: 8px;
}
.navbar-brand{
  font-family: 'Nephilm';
}
.head{
  color: white;
  text-decoration: none;
  border: none;
}
.container{
   justify-content: center;
}
.pagination {
  justify-content: center;
}
body{
	min-height: 100vh;
	background-color: rgb(233,236,239);
	margin-top: 70px;
}
.navbar {
  background-image: linear-gradient( 172.6deg,  rgba(21,13,15,1) 17.6%, rgba(84,84,84,1) 98.6% );

}
.mb-auto{
  background-image: linear-gradient( 172.6deg,  rgba(21,13,15,1) 17.6%, rgba(84,84,84,1) 98.6% );
  height: 70px;
}


 ul > li > a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: yellow;
  padding: 6px;
}
ul > li  > a::after {
  position: absolute;
  bottom: -5px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  color: yellow;
  background: yellow;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .3s;
  text-decoration: none;
}
ul >li > a:hover{
  color: yellow;
  text-decoration: none;
}
ul >li > a:hover::after {
  transform: scale(1, 1);
  color: yellow;
}

img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.row-logintitle{
  padding-top: 120px;
}
.alert {
	text-align: center;
	margin-bottom: 0px;
}
.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

.logo{
   background-image: image-url("logo.png");
   width: 64px;
   height: 69px;
}
.white{
  background-color: white;
  padding-bottom: 30px;
}
.caution{
  color: red;
}
.navbar-brand > span{
  color: yellow;
}

footer{
  padding-top: 0px;
}
footer p{
  height: 60px;
  background-image: linear-gradient( 172.6deg,  rgba(21,13,15,1) 17.6%, rgba(84,84,84,1) 98.6% );
  color: yellow;
  margin-bottom: 0;
  padding: 20px 0;
}
.fa-tags{
  color: orange;
  margin-left: 15px;
}
.tag {
    background-color: #03a9f494;
    border-radius: 4px;
}
.tag  > #text{
  color: black;
}
.bootstrap-tagsinput .tag{
  padding: 4px 7px;
  width: 190px;
}
.bootstrap-tagsinput{
  padding: 8px 150px 8px 5px;
}
