/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

@font-face{
 font-family: 'Nephilm';
 src: font-url('/assets/Nephilm.otf')
}
.header{
padding-top: 8px;
}
.head{
  color: white;
  text-decoration: none;
  border: none;
}
.pagination {
  justify-content: center;
}
body{
	min-height: 100vh;
	background-color: rgb(233,236,239);
}
.mb-auto{
//   background-color: black;
//   background: radial-gradient(#F2B9A1, #EA6264);
// background: linear-gradient( #ffffff 0%, #f20a0a 51%, #030005 100%);
//   background-image: linear-gradient( 109.6deg,  rgba(62,161,219,1) 11.2%, rgba(93,52,236,1) 100.2% );
// background-image: radial-gradient( circle 900px at 10.3% 17%,  rgba(3,39,93,1) 0%, rgba(37,28,28,1) 90% );
background-image: linear-gradient( 172.6deg,  rgba(21,13,15,1) 17.6%, rgba(84,84,84,1) 98.6% );
  height: 50px;
}
img {
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  width: 100px;  /* 縦横を同じ値にする */
  height: 100px;  /* 縦横を同じ値にする */
  object-fit: cover; /* 縦横比固定したまま上2つの縦横の範囲内に収まるように配置する */

}
.row-logintitle{
  padding-top: 60px;
}
.alert {
	text-align: center;
}
.alert-info {
    background-color: #bde9ff;
    border-color: #bde9ff;
    color: #4c6977;
}
.alert-danger {
    background-color: #f3c0c0;
    border-color: #f3c0c0;
    color: #3e3a3a;
}

