// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top {
    background: url(top.jpg) center top no-repeat;
    background-size: 100%;
    height: 650px;
}
.about {
    background: url(about3.jpg) center top no-repeat;
    background-size: 100%;
    height: 650px;
}
.text-center {
  color: white;
  padding-top: 200px;
  font-size: 150px;
}
.about-text {
  color: white;
  padding-top: 200px;
  font-size: 30px;
  text-align: center;
}
// .navbar-brand span{
//   		background: url(logo.png) left top/64px auto no-repeat;
//   		height: 30px;
// }