
/*
 * Globals
 */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}
body {
  height: 100%;
}
.cover-container {
  max-width: 42em;
}
.world{
  color: white;
  font-size: 140px;
  font-family: 'Nephilm';
  padding-top: 160px;
}
.top {
  background-image: image-url("top.jpg");
  background-size: 120%;
  position: relative;
  height: 100vh;
  width: 100vw;
  background-size: cover;
}
.about {
  background-size: 100%;
  width: 100vw;
  height: 100vh;
}
.about-title{
  font-size: 35px;
  text-align: center;
  padding-top: 80px;
  text-shadow: #FC0 1px 0 10px;
  font-weight: bold;
}
.about-text {
  color: black;
  text-shadow: #FC0 1px 0 10px;
  font-size: 22px;
  text-align: center;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}
.px-3{
  text-align: center;
}
footer{
  text-align: center;
  color: black;
  padding-top: 230px;
  font-size: 15px;
}
.new{
  text-align: center;
  padding-top: 80px;
}
.foot{
  padding-top: 150px;
}
#box{
  height: 50vh;
}
.skippr1 {
  background-image: image-url("skippr1.jpg");
}
.skippr2 {
  background-image: image-url("skippr2.jpg");
}
.skippr3 {
  background-image: image-url("skippr3.jpg");
}
.skippr4 {
  background-image: image-url("skippr4.jpg");
}
