// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.search{
  width: 230px;
  padding-right: 5px;
}
.tag_search{
  width: 230px;
  padding-bottom: 3px;
	justify-content: center;
// 	display: flex;
// text-align: center;
margin: 0 auto;
}
.flex-container {
	display: flex;
	justify-content: center;
  padding: 20px 20px;
}
.like{
  margin: 10px;
  font-size: 20px;
}
.layout-top{
  padding-top: 20px;
}
.tactics{
  text-align: center;
}
